{% extends 'layouts/base.html' %}
{% block title %}Jugar{% endblock%}
{% block main %}
<h1>Jugar</h1>
{% if total_jugador < 22 %}
    <p>El repartidor tiene: {{ repartidor }} con un total puntaje de: {{ repartidor }}</p>
    <p>Don {{ nombre }}, tienes: {{ carta_jugador }} || tienes un total de {{ total_jugador }}</p>
    <form method="POST" action="{% url 'pedir' nombre %}">
        {% csrf_token %}
        <button type="submit" name="accion" value="pedir">Pedir</button>
    </form>
    <form method="POST" action="{% url 'mantener' nombre %}">
        {% csrf_token %}
        <button type="submit" name="accion" value="mantener">Mantener</button>
    </form>
{% else %}
    <p>Perdio usted tiene {{ total_jugador }}</p>
    <p>El dealer tenia {{ repartidor }}</p>
    <form method="POST" action="{% url 'jugar' nombre %}">
        {% csrf_token %}
        <button type="submit" name="accion" value="volver_jugar">Jugar de nuevo</button>
    </form>
    
{% endif %}

{% endblock%}